.navContainer_nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #79c2bc;
    padding: 0.9rem 0.9rem 1.2rem 0.9rem;
}

.navContainer_nav-left_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer_nav-right_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navContainer_nav-right_nav ul li {
    width: fit-content;
    margin: 0 0.2rem;
}

.active {
    background-color: rgb(121 194 188);
    color: rgb(255 255 255);
    box-shadow: 0px 0px 7px 1px #3c4948;
    padding: 0.1rem 0.6rem 0.4rem 0.6rem;
}