.header {
    background: #79c2bc23;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(44, 43, 43);
    padding: 4;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.controllOptions {
    background: #fff;
    border: 1px solid gray;
}

.CodeMirror.CodeMirror-wrap {
    height: 400px;
}

.button-container {
    text-align: right;
    padding: 4px;
}

.edtr_submt_run_btn {
    background: #79c2bc;
    color: #fff;
    padding: 8px;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bolder;
}

.edtr_submt_run_btn:hover {
    background: #638f8b;
    color: #000;
}

.edtr_submt_run_btn:active {
    padding: 7px;
    background: #374644;
}

.output {
    padding: 4px;
    border: 2px solid gray;
    min-height: 100px;
    width: 100%;
    margin: auto;
    resize: none;
}